<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.busbuddydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cdgi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cdgi"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusBuddydemo"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MapsActivityNew"
            android:exported="false"
            android:label="@string/title_activity_maps_new" />
        <activity
            android:name=".Driver_Activity"
            android:exported="false" />
        <activity
            android:name=".Bus_List_Package.BUS_2"
            android:exported="false" />
        <activity
            android:name=".Bus_List_Package.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Bus_List_Package.BUS_1"
            android:exported="false" />
        <activity
            android:name=".RouteActivity"
            android:exported="false" />
        <activity
            android:name=".Bus_List"
            android:exported="false" />
        <activity
            android:name=".NewSignUp"
            android:exported="false" />
        <activity
            android:name=".Map_Activity"
            android:exported="false"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".BusActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First_Interface"
            android:exported="false" />
    </application>

</manifest>